.paginatorBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: end;
}
.select {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #334e6f;
    padding: 2px;
    border: 1px solid  #334e6f;
    border-radius: 6px;
}

.paginator{
    margin-top: 10px;
}
.selectedPage {
    font-weight: bold;
    font-size: 18px;
    color: #28b8dc;
    padding: 0 2px 0 2px;
    cursor: pointer;
}
.pageNumber {
    padding: 0 4px;
    cursor: pointer;
}
.select {
    text-align: center;
}
.label {
    margin-right: 6px;
}
.btn {
    border: none;
    color: #334e6f;
    background: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
