.enterNewPasswordBlock {
    text-align: center;
    margin-top: 40px;
}

.enterNewPasswordBlock div {
    margin: 10px 0;
}

.buttonContainer {
    padding-top: 14px;
}

.error {
    font-size: 12px;
    color: #C12F6C;
}