.cardsContainer {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 100px;
    grid-gap: 30px;
}

.titlesBlock {
    margin: 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 60px;
    gap: 10px;
    border-bottom: #334e6f 1px solid;
    align-items: center;
}

.cardsBlock {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.cardsName {
    cursor: pointer;
}

.date {
    font-size: smaller;
    text-align: center;
}

.btnContainer {
    margin-top: 32px;
}

.title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-self: center;
}