.packContainer {
    margin: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: 100px;
    grid-gap: 20px;
}
.packContainer div {
    /*padding: 10px;*/
}
.numberInput {
    width: 30px;
}
.titlesBlock{
    margin: 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-auto-rows: 60px;
    gap: 10px;
    border-bottom: #334e6f 1px solid;
    align-items: center;
}
.packsBlock {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-auto-rows: 100px;
    gap: 10px;
    align-items: center;

}

