.headerBlock {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
    background-color: #f1f1f5;
}

.nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.item a {
    color: #334e6f;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;

}


.item a.activeLink {
    color: #28b8dc;;
    font-weight: bold;
}